[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kopete_thinklight
X-KDE-FactoryName=ThinklightPreferencesFactory
X-KDE-ParentApp=kopete_thinklight
X-KDE-ParentComponents=kopete_thinklight

Name=Thinkpad Light
Name[el]=Φως Thinkpad
Name[en_GB]=Thinkpad Light
Name[es]=Thinkpad Light
Name[et]=Thinkpadi tuluke
Name[fr]=Diode Thinkpad
Name[ga]=Solas Thinkpad
Name[gl]=Luz do Thinkpad
Name[hne]=थिंकपेड लाइट
Name[km]=ពន្លឺ Thinkpad
Name[nb]=Thinkpad-lys
Name[nds]=Thinkpad-Licht
Name[nl]=Thinkpad-lampje
Name[pt]=Luz do Thinkpad
Name[ro]=Lumină Thinkpad
Name[sv]=Thinkpad lätt
Name[th]=Thinkpad Light
Name[tr]=Thinkpad Light
Name[uk]=Лампочка Thinkpad
Name[x-test]=xxThinkpad Lightxx
Comment=Flashes Thinkpad light on incoming message.
Comment[en_GB]=Flashes Thinkpad light on incoming message.
Comment[es]=Parpadea luz de Thinkpad con un mensaje entrante.
Comment[et]=Välgutab saabuva sõnumi puhul Thinkpadi tulukest.
Comment[fr]=Allume la diode Thinkpad à l'arrivée d'un message
Comment[km]=ចាំង​ពន្លឺ Thinkpad នៅ​ពេល​មាន​សារ​ចូល ។
Comment[nb]=Blinker Thinkpad-lyset ved innkommende melding.
Comment[pt]=Pisca a luz do Thinkpad ao receber uma mensagem.
Comment[ro]=Clipește luminița Thinkpad la mesaj de intrare.
Comment[sv]=Blinkar lampa på Thinkpad vid inkommande meddelande.
Comment[uk]=Блимає лампочкою Thinkpad за появи вхідного повідомлення.
Comment[x-test]=xxFlashes Thinkpad light on incoming message.xx
