[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kopete_thinklight
X-KDE-FactoryName=ThinklightPreferencesFactory
X-KDE-ParentApp=kopete_thinklight
X-KDE-ParentComponents=kopete_thinklight

Name=Thinkpad Light
Name[cs]=Světlo Thinkpadu
Name[nl]=Thinkpad-lampje
Name[pt]=Luz do Thinkpad
Name[sk]=Svetlo Thinkpadu
Name[sv]=Thinkpad lätt
Name[uk]=Лампочка Thinkpad
Name[x-test]=xxThinkpad Lightxx
Comment=Flashes Thinkpad light on incoming message.
Comment[cs]=Zableskne světlem Thinkpadu při příchozí zprávě.
Comment[nl]=Laat een Thinkpad-lampje flikkeren bij een binnenkomend bericht.
Comment[pt]=Pisca a luz do Thinkpad ao receber uma mensagem.
Comment[sk]=Zasvieti svetlo Thinkpadu pri prichádzajúcej správe.
Comment[sv]=Blinkar lampa på Thinkpad vid inkommande meddelande.
Comment[uk]=Блимає лампочкою Thinkpad за появи вхідного повідомлення.
Comment[x-test]=xxFlashes Thinkpad light on incoming message.xx
