[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=help-hint
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_thinklight
X-KDE-PluginInfo-Author=Bernhard Beschow
X-KDE-PluginInfo-Email=bbeschow@cs.tu-berlin.de
X-KDE-PluginInfo-Name=kopete_thinklight
X-KDE-PluginInfo-Version=0.50.0
X-KDE-PluginInfo-Website=http://www.kde-apps.org/content/show.php/kopete-thinklight?content=47886
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Thinkpad Light
Name[el]=Φως Thinkpad
Name[et]=Thinkpadi tuluke
Name[fr]=Diode Thinkpad
Name[gl]=Luz do Thinkpad
Name[km]=ពន្លឺ Thinkpad
Name[nds]=Thinkpad-Licht
Name[nl]=Thinkpad-lampje
Name[pt]=Luz do Thinkpad
Name[pt_BR]=Luz do Thinkpad
Name[sv]=Thinkpad lätt
Name[uk]=Лампочка Thinkpad
Name[x-test]=xxThinkpad Lightxx
Comment=Flashes Thinkpad light on incoming message
Comment[el]=Αναβόσβημα φωτός του Thinkpad σε εισερχόμενο μήνυμα
Comment[et]=Välgutab saabuva sõnumi puhul Thinkpadi tulukest
Comment[fr]=Allume la diode Thinkpad à l'arrivée d'un message
Comment[gl]=Destella a luz do Thinkpad cando se recebe unha mensaxe
Comment[km]=ចាំង​ពន្លឺ Thinkpad នៅ​ពេល​មាន​សារ​ចូល
Comment[nds]=Maakt dat Thinkpad-Licht bi ankamen Narichten an
Comment[nl]=Laat een Thinkpad-lampje flikkeren bij een binnenkomend bericht
Comment[pt]=Pisca a luz do Thinkpad ao receber uma mensagem
Comment[pt_BR]=Pisca a luz do Thinkpad ao receber uma mensagem
Comment[sv]=Blinkar lampa på Thinkpad vid inkommande meddelande
Comment[th]=กะพริบไฟเมื่อมีข้อความใหม่
Comment[uk]=Блимає лампочкою Thinkpad за появи вхідного повідомлення
Comment[x-test]=xxFlashes Thinkpad light on incoming messagexx
